<body>
  <div class="container">
    <h1>Forgot Password</h1>
    
    {{#if error}}
      <p style="color: red;">{{error}}</p>
    {{/if}}
    
    <form action="/forgot-password" method="POST">
      {{#if EmailContact}}
  <input type="hidden" name="stage" value="emailContact">
  <input type="email" name="email" placeholder="Enter your email" required>
  <input type="text" name="contact" placeholder="Enter your contact number" required>
  <button type="submit">Verify</button>
{{/if}}

    {{#if Password}}
  <input type="hidden" name="stage" value="password">
  <input type="hidden" name="email" value="{{email}}">
  <input type="password" name="password" placeholder="Enter new password" required>
  <button type="submit">Reset Password</button>
{{/if}}
</form>
  </div>
</body>
