<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gym Products</title>
    <link rel="stylesheet" href="product.css">
</head>
<body>
    <div class="product-page-container">
        <div class="sidebar">
            <h2>Protein Powders</h2>
            <div id="powder-cards-container" class="product-container"></div>

            <!--h2>Equipments</h2>
            <div id="equipment-cards-container" class="product-container"></div--->
        </div>
    </div>

    <script src="/static/product.js"></script>
</body>
</html>