<html>
<head>
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->

<link rel="stylesheet" href="signup.css">
<!--link rel="stylesheet" href="Itcheking.css"-->

</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-3 "></div>
    <div class=" col-md-6 log col-sm-12">
      <!--form class="txtb" action="/signup" method="POST" onsubmit="return validate()"-->
      <form class="txtb" action="/signup" method="POST" onsubmit="return validate()">
      <h1>SIGNUP</h1>
        <input type="text" placeholder="Name" class="txtb" id="email" name="name">
      <input type="email" placeholder="E-mail" class="txtb" id="email" name="email">
      <input type="text" placeholder="Contact" class="txtb" id="email" name="contact">
      <input type="password" placeholder="password" class="txtb" id="password" name="password">
      <input type="password" placeholder="Confirm-password" class="txtb" id="password" name="confirm_password">
      <button type="submit" >ADD</button>
      <br> 
        
      </form>
  </div>
</div>
</body>
</html>